<div class="create-news">
  <div class="panel panel-default">
    <div class="panel-heading">{{createNews.idNews ? 'Edição' : 'Criação'}} de Noticias</div>
  </div>
  <div class="panel-body">
    <form name="formNews" ng-submit="createNews.submit(formNews)" novalidate>
        <div class="form-group" ng-class="{'has-error': createNews.hasError(formNews, 'title')}">
          <label class="control-label" for="title">Título</label>
          <input name="title" ng-model="createNews.news.title" type="text" class="form-control" id="title" placeholder="Título" required>
        </div>
        <div class="form-group" ng-class="{'has-error': createNews.hasError(formNews, 'subtitle')}">
          <label class="control-label" for="subtitle">Subtitulo</label>
          <input name="subtitle" ng-model="createNews.news.subtitle" type="text" class="form-control" id="subtitle" placeholder="Subtitulo" required>
        </div>
        <div class="form-group" ng-class="{'has-error': createNews.hasError(formNews, 'text')}">
          <label class="control-label" for="txt">Texto</label>
          <textarea name="text" ng-model="createNews.news.text" type="text" class="form-control" id="txt" placeholder="Texto"  rows="4" required></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="tags">Tags (separado por virgula)</label>
          <input name="tags" ng-model="createNews.news.tags" type="text" class="form-control" id="tags" placeholder="Tags">
        </div>
        <button  ng-disabled="createNews.processing" type="submit" class="btn btn-success">
          {{createNews.idNews ? createNews.processing ? 'Editando' : 'Editar'
            : createNews.processing ? 'Cadastrando' : 'Cadastrar'}}
        </button>
        <button  ng-disabled="createNews.processing" ui-sref="app.internal.listNews" type="button" class="btn btn-primary">
          Cancelar
        </button>
    </form>
  </div>
</div>
