<div class="list-news">
  <div class="panel panel-default">
    <div class="panel-heading">Listagem das Noticias</div>
    <table class="table table-striped">
      <thead>
        <th>Código</th>
        <th>Titulo</th>
        <th>Data de Postagem</th>
        <th>Ações</th>
      </thead>
      <tr ng-repeat="news in listNews.listNews.items">
        <td>{{news.id}}</td>
        <td>{{news.title}}</td>
        <td>{{news.post_date}}</td>
        <td><button ui-sref="app.internal.editNews({id: news.id})" class="btn btn-primary">Editar</button></td>
      </tr>
     </table>
     <div class="pages text-center">
      <p class="interval">De 1 até {{listNews.totPage}}</p>
      <div class="input-group">
        <span class="input-group-btn">
          <button ng-click="listNews.prev()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>
        </span>
        <input type="text" ng-change="listNews.changePage()"  ng-model-options="{ debounce: 500 }" ng-model="listNews.listNews.page" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-btn">
          <button ng-click="listNews.next()" class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <small class="instructions">Navegue pelos botões ou insira o número de uma pagina</small>
     </div>
  </div>
</div>
