$color-ufmg: #C8102E;
.header {
  height: 80px;
  padding: 5px;
  position: relative;
  background-color:	$color-ufmg;
  border-bottom: 1px solid #000;
  color: #fff;
  .link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .logo {
    img {
      width: 90px;
      height: 50px;
      filter: brightness(0) invert(1);
    }
  }
  .menu {
    .list {
      .item-menu {
        display: inline-block;
        padding: 5px;
        margin: 5px;
        text-transform: uppercase;
        &.active {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
  .user-area {
    text-align: center;
    .user > .email {
      font-style: italic;
    }
    .user > .name {
      font-weight: bold;
    }
  }
}
